body {
    margin: 0;
    background-color: rgb(189, 189, 189);
}
h1, p {
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
li:hover {
    background-color: teal;
}
li:active, a:active {
    color: aliceblue;
}
ol, ul {
    list-style: none;
}