* {
  color: white;
}
body {
  margin: 0;
  background-color: rgb(59, 59, 59);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content {
  max-width: 500px;
  height: auto;
  display: flex;
  background-color: rgb(53, 53, 53);
  border: 2px solid whitesmoke;
  border-radius: 30px;
  flex-direction: column;
  align-items: center;
  margin: 15% auto;
}
h1 {
  margin: 30px;
}
form {
  display: flex;
  flex-direction: column;
}
input, select, button {
  width: 200px;
  height: 30px;
  background-color: rgb(20, 20, 20);
  margin: 10px;
  border: 1px solid black;
  border-radius: 3px;
}

input:hover, select:hover, button:hover {
  cursor: pointer;
  border-color: whitesmoke;
}
select {
  text-align: center;
}
p {
  margin-bottom: 30px;
}
