div:hover {
    border: 2px solid rgb(34, 34, 34);
}
div:nth-of-type(1){
    background-color: rgb(11, 77, 39);
}
div:nth-of-type(2){
    background-color: rgb(20, 111, 128);
}
div:nth-of-type(3){
    background-color: rgb(231, 204, 144);
    height: 50px;
}
div:nth-of-type(4){
    background-color: rgb(27, 34, 30);
}
div:nth-of-type(5){
    background-color: rgb(207, 74, 74);
}
div:nth-of-type(1) > h3 {
    color: bisque;
}
div:nth-of-type(2) > h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div:nth-of-type(3) > h3 {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5) ;
}
div:nth-of-type(4) > h3 {
        color: azure;
        font-size: 25px;
}
div:nth-of-type(5) > h3 {
    text-decoration: line-through; 
}
div:nth-child(odd) h3 {
    font-style: italic
}