ol > li {
    background-color: yellow;
}
ol > li:nth-child(even){
    color: green;
}
ol > li:nth-child(odd){
    text-transform: uppercase;
}
h1, h2, h3 {
    color: red;
}
h1 {
    font-size: 40px;
    border: 1px solid black;
}
li {
    font-size: 20px;
}
li > em {
    font-weight: bold;
}
.firstThree {
    color: blue;
}
.java {
    background-color:  pink;
}

a:hover {
    font-weight: bold;
}
#stackoverflow a:hover{
    color: orange;
}
#w3schools a:hover{
    color: rgb(72, 128, 47);
}
#mdn a:hover{
    color: black;
}
#devdocs a:hover{
    color: yellow;
}
#trybe a:hover{
    color: green;
}